[submodule "hcp"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/hcp
	branch = refs/heads/hcp_v0.1.0
[submodule "rsync"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/rsync
	branch = refs/heads/rsync_v0.1.0
[submodule "slims"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/slims
	branch = refs/heads/slims_v0.1.0
[submodule "mail"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/mail
	branch = refs/heads/mail_v0.1.0
[submodule "nextflow"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/nextflow
	branch = refs/heads/nextflow_v0.1.0
[submodule "unpack"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/unpack
	branch = refs/heads/unpack_v0.1.0
