[submodule "unpack"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/unpack
	branch = refs/heads/unpack_dev
[submodule "slims"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/slims
	branch = refs/heads/slims_dev
[submodule "nextflow"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/nextflow
	branch = refs/heads/nextflow_dev
[submodule "hcp"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/hcp
	branch = refs/heads/hcp_dev
[submodule "mail"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/mail
	branch = refs/heads/mail_dev
[submodule "rsync"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/rsync
	branch = refs/heads/rsync_dev
[submodule "grid_engine"]
	url = https://github.com/ClinicalGenomicsGBG/cellophane_modules
	path = modules/grid_engine
	branch = refs/heads/grid_engine_dev
