//Profile config names for nf-core/configs
params {
  config_profile_description = 'Cluster profile for medair (local cluster of Clinical Genomics Gothenburg)'
  config_profile_contact     = 'Clinical Genomics, Gothenburg'
  config_profile_url         = 'https://www.scilifelab.se/units/clinical-genomics-goteborg/'
}

//Nextflow parameters
singularity {
    // fix scratch and proxy
    runOptions = '--no-mount tmp -B /tmp:/tmp ' \
        + '--env http_proxy=http://nyabud.net.gu.se:8080 ' \
        + '--env https_proxy=http://nyabud.net.gu.se:8080 ' \
        + '--env ftp_proxy=http://nyabud.net.gu.se:8080 ' \
        + '--env no_proxy=.medair.lcl,slims2.sa.gu.se,.vgregion.se,10. '
    cacheDir = "/apps/bio/dependencies/nf-core/singularities"
}

profiles {

  routine {
    process {
      queue                  = 'routine.q'
      executor               = 'sge'
      penv                   = 'mpi'
      process.clusterOptions = '-S /bin/bash -l excl=1'
      params.max_cpus        = 32
      params.max_time        = 48.h
      params.max_memory      = 128.GB
    }
  }

  development {
    process {
      queue                  = 'development.q'
      executor               = 'sge'
      penv                   = 'mpi'
      process.clusterOptions = '-S /bin/bash -l excl=1'
      params.max_cpus        = 32
      params.max_time        = 480.h
      params.max_memory      = 128.GB
    }
  }

  pipeline {
    // Cleanup on exit
    cleanup = true

    process {
      // Enable working in TMPDIR
      scratch      = true
      stageInMode  = 'copy'
      stageOutMode = 'move'  

      cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
      memory = { check_max( 6.GB * task.attempt, 'memory' ) }

      errorStrategy = { task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish' }
      maxRetries    = 2
      maxErrors     = '-1'

      // Process-specific resource requirements
      withLabel:process_single {
        cpus   = { check_max( 1     * task.attempt, 'cpus'    ) }
        memory = { check_max( 24.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }
      }
      withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 24.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
      }
      withLabel:process_medium {
        cpus   = { check_max( 16    * task.attempt, 'cpus'    ) }
        memory = { check_max( 48.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }
      }
      withLabel:process_high {
        cpus   = { check_max( 64    * task.attempt, 'cpus'    ) }
        memory = { check_max( 96.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 36.h  * task.attempt, 'time'    ) }
      }
      withLabel:process_long {
        time   = { check_max( 36.h  * task.attempt, 'time'    ) }
      }
    }
  }

}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
